/* 
  style.css contains a reset, font normalization and some base styles.
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Author: Richard Clark
  http://html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000;	font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0;	border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */


/*
fonts.css from the YUI Library: http://developer.yahoo.com/yui/
refer to http://developer.yahoo.com/yui/fonts/ for font sizing
*/
body { font:13px arial,helvetica,"Nimbus Sans L", "Bitstream Vera Sans", sans-serif; *font-size:small; *font:x-small; line-height:1.22; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% arial,helvetica,"Nimbus Sans L", "Bitstream Vera Sans", sans-serif; }

pre, code { font:115% monospace; *font-size:100%; }
 

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:
   http://www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }


/* bicubic resizing for non-native sized IMG: 
   http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* styling the basics.  
   original author: paul irish
   TODO: consider: http://developer.yahoo.com/yui/base/ */

/* #444 looks better than black: http://twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#444; }
 
h1,h2,h3,h4,h5,h6 { font-weight: bold;  }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

strong, th { font-weight: bold; }

/* disable because you'll override these anyhow 
  h5 { font-size:85%; margin:8px 0 1px; }
  h4 { font-size:92%; margin:10px 0 2px; } 
  h3 { font-size:107%; margin:13px 0 3px; } 
  h2 { font-size:122%; margin:15px 0 3px; }
  h1 { font-size:136%; margin:0 0 10px; } 
*/ 
 
p { margin:15px 0 10px; }
 
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
 
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }

td, td img { vertical-align:top; } 

/* for image replacement */
.ir { display:block; text-indent:-999px; overflow:hidden; background-repeat: none; }

/* Hide for both screenreaders and browsers */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   http://www.webaim.org/techniques/css/invisiblecontent/ */
.visuallyhidden { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
 
.invisible { visibility: hidden; }


/* >> CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End clearfix */

















/* These selection declarations have to be separate.
   No text-shadow http://twitter.com/miketaylr/status/12228805301 */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/* http://j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* inline'd print styles avoid required HTTP connection http://www.phpied.com/delay-loading-your-print-css/ */
/* Original Author: Divya Manian */
@media print {
  * { background:transparent !important; color:#444 !important; text-shadow:none; }

  a, a:visited { color:#444 !important; text-decoration:underline; }

  a:after { content:" (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }

  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans:3; widows:3; }

  h2, h3{ page-break-after:avoid; }
}





@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
}

@media screen and (max-device-width: 480px) {
  /* All Capable Mobile Browser (Opera Mobile, iPhone Safari, Android Chrome) CSS goes here */
  
  html { -webkit-text-size-adjust:none; } /* Prevent iPhone from adjusting font size */
}












html, body, #container, .body { height: 100%; }
body { background: #eee; font: normal normal normal 14px/normal Arial; color: #444;}




#container { width: 990px; margin: 0 auto; height: 705px;
    position:relative; background: white; border: 1px solid #aaa; border-top: 0; 
    
    -webkit-box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px;
    -moz-box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px;
    box-shadow: #ccc 4px 0px 10px, #ccc -4px 0px 10px, #aaa 0px 38px 36px -24px;
     
    overflow: hidden;
    }

aside { 
    display:none;
    text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5); 
    font-size: 18px;
    position: absolute;
    right: 25px; width: 330px; top: 32px;
}
aside p { margin-top: 25px;}
.toc aside { display: block;}
aside h1 { font-size: 45px;}


#title .normal {
  font-family: 'Droid Sans', Arial;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.09em;
  padding-right: 4px;
}

#title .five { 
  color: #fff;
  font-family: 'Droid Sans', Arial;
  text-shadow: 1px 0px 1px #000, -1px 0px 1px #000;
}
.no-textshadow #title .five { 
  color: #bbb;
}

#title .rocks { 
  font-family: 'Droid Sans', Arial;
  color: #3D5C9D;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: -0.09em;
  margin-left: -3px;
}




div.app {
  font-family: Helvetica, sans-serif;
  height: 160px;
  width: 150px;
  text-align: center;
  padding: 13px 10px;
  margin: 0 5px;
  background-color: #fefefe;
  background: -moz-linear-gradient(90deg, #eee, #fff, #eee);
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.5, #fff), to(#eee));
  border: 3px solid #e1e1e1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  -webkit-transition: -webkit-box-shadow 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  cursor: pointer;
}
div.app:hover {
  border-color: #e1e1e1;
  -webkit-box-shadow: #666 0px 0px 6px;
  -moz-box-shadow: #666 0px 0px 6px;
  box-shadow: #666 0px 0px 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), color-stop(0.5, #fff), to(#e1e1e1));
}


    /*
     1. opens in TOC view.  - toc class
        transitions immediately fire to spin out the thumbnails - go class added
     2. on selection they collapse into controlbar - tos class is removed. 
        transition position into stacked in bar 
     3. on last box's transitionEnd hit, position scheme is changed to relative to the box and they float  - show class is added. .open added a jiffy after
        a. need a fallback for no transitionEnd event support.
        b. need a fallback for no transition support
    */





div.box { width: 140px; height: 140px; position: absolute; 
    
    /* location when we collapse to stack at bottom */
    top: 462px; left: -24px;
     
     -moz-transition: all 0.2s ease-in;  
       -o-transition: all 0.2s ease-in;  
  -webkit-transition: all 0.2s ease-in;  
          transition: all 0.2s ease-in;

 }

.toc div.box {  top: 215px; left: 220px;  opacity: .7;

   -moz-transition: all 0.5s cubic-bezier(0.0, 0.35, .6, 1.5);   /* bounce timing for moz & opera. webkit doesnt support */
     -o-transition: all 0.5s cubic-bezier(0.0, 0.35, .6, 1.5);  
-webkit-transition: all 0.5s ease-in;  
        transition: all 0.5s ease-in;
        
        
        
}

.box a { color: #333; text-decoration:none;}

/* go class added by javascript on page load */

.go div.box {   opacity: 1;   }


/* 3 x 3 arrangement */
/* each box: 160 x 166, padded size: 190 x 190 

.go div.box:nth-child(1) { top: 25px; left: 30px;   }
.go div.box:nth-child(2) { top: 25px; left: 220px;   }
.go div.box:nth-child(3) { top: 25px; left: 405px;   }

.go div.box:nth-child(4) { top: 215px; left: 30px;   } 
.go div.box:nth-child(5) { top: 215px; left: 220px;}
.go div.box:nth-child(6) { top: 215px; left: 405px;   }

.go div.box:nth-child(7) { top: 405px; left: 30px;   }
.go div.box:nth-child(8) { top: 405px; left: 220px;   }
.go div.box:nth-child(9) { top: 405px; left: 405px;   }

*/

/* this will be animated via the previous transition */
.go.toc  div.box { 
      -moz-transform: scale(1);  
        -o-transform: scale(1);  
   -webkit-transform: scale(1); 
           transform: scale(1);
           

           
}



  
.go.toc  div.box:hover { 
   
       -moz-transform: scale(1.1);  
          -o-transform: scale(1.1);  
     -webkit-transform: scale(1.1); 
             transform: scale(1.1);
}
  
  
.itembar { 
    right: 0; top: 0;
    padding: 5px;
    border-radius: 0 0 0 15px;
    display:none;
    -webkit-box-shadow:  #888 4px 5px 20px -2px;
       -moz-box-shadow:  #888 4px 5px 20px -2px;
            box-shadow:  #888 4px 5px 20px -2px;
    border: 0!important;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
}

.controlbar {  top: 591px;  height: 163px; border:0; border-radius: 15px 15px 0 0; width: 988px;  }

.show .controlbar, .show .itembar { display:block; position:absolute; border: 1px solid rgba(180,180,180,.5); 
    background-color: #222;  /* #777781 */ 
}

.toc .controlbar {
  top: 0;
  width: 610px;
  height: 708px;
  overflow-x: hidden;
  overflow-y: auto;
}

.show  div.box, div.box {
         -moz-transform: scale(.6);  
           -o-transform: scale(.6);  
      -webkit-transform: scale(.6); 
              transform: scale(.6);
}

div.box {
  /* need to turn on this stuff */
   -webkit-transition-delay: 0ms; -o-transition-delay: 0ms; -moz-transition-delay: 0ms; transition-delay: 0ms;
}

.show  div.box {              
              /* new arrangement */
              float:left; position:relative; left: 0; top: 0;
              margin-left: -152px;
              
               -webkit-transform: scale(0.6) translate(0,-33px);
               
            
}


/* first one doesnt need negative margin */
.show  div.box:nth-child(1) {   margin-left: -20px !important; }
.show  div.box:last-of-type {   margin-right: -100px !important; }



.toc #boxes { 
  position: relative;
  width: 600px;
  height: 700px;
  top: 0px;
}
a#boxtrigger { display:none;}
.toc a#boxtrigger { position:absolute; background: #ccc; bottom: 0; display: block; text-align:center; width: 600px; padding: 10px; 
  display:none; /* kill for now */ }
.show #boxes { height: 120px; /* width: 968px; */ }


.show.open div.box { 
  -webkit-transform: scale(0.6) translate(0,-50px);
     -moz-transform: scale(0.6) translate(0,-50px);
       -o-transform: scale(0.6) translate(0,-50px);
          transform: scale(0.6) translate(0,-50px);
        
  -webkit-transition-property: -webkit-transform; 
       -o-transition-property: -o-transform; 
     -moz-transition-property: -moz-transform; 
          transition-property: transform;
 
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
               
              
  margin-left: -105px;  /* magic number based on number of boxes, this will be overwritten by UI.writeBoxStyles() */
                       /* -63 when its 9, -92 when it's 12, thus margin-left: -6.33*boxes.length - 24      */
}


    
/* hover effects */
.show.open div.box:hover {
       -moz-transform: scale(1.1) translate(0,-61px);  
         -o-transform: scale(1.1) translate(0,-61px);  
    -webkit-transform: scale(1.1) translate(0,-61px); 
            transform: scale(1.1) translate(0,-61px);
            z-index: 10;
}


.show.open  div.box:first-child:hover {  
     -moz-transform: scale(1.1) translate(32px,-61px);  
       -o-transform: scale(1.1) translate(32px,-61px);  
  -webkit-transform: scale(1.1) translate(32px,-61px); 
          transform: scale(1.1) translate(32px,-61px);  
}
.show.open  div.box:last-of-type:hover {
     -moz-transform: scale(1.1) translate(-32px,-61px);  
       -o-transform: scale(1.1) translate(-32px,-61px);  
  -webkit-transform: scale(1.1) translate(-32px,-61px); 
          transform: scale(1.1) translate(-32px,-61px);
}



.show:not(.open) div.box  {  
    -moz-transition: none;    
      -o-transition: none;
    -webkit-transition: none;
           transition: none;
}
 
 

#toolbar { visibility:hidden;   text-align: right; } /* padding: 7px 5px;  height: 25px; */
.show #toolbar { visibility:hidden; overflow:hidden; height: 15px;}

a.button.flat, a.button.flat:hover { 
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: help;
  border: 0;
}
a.button.flat:active { top: auto; }

a.button, a.button:visited {
  background-color: #222; 
  background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgba(255,255,255,.4)),
        color-stop(1, rgba(150,150,150,.4))
    );
  background-image: -moz-linear-gradient(
        center bottom,
        rgba(255,255,255,.4) 0%,
        rgba(150,150,150,.4) 100%
    );

  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  border-radius: 5px; 

  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  margin: 0 5px;

  font-family: Calibri, "Trebuchet MS", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

  a.button:hover { background-color: #111; color: #fff; }
  a.button:active { top: 1px; }
  a.button, a.button:visited { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }


/* the stage and iframe */
#stage, .toc #stage { display: none;}
.show #stage {display: block;}
#stage iframe { width: 100%; min-height: 680px; height: 680px; display: none;
                -webkit-user-select: none -moz-user-select: none; user-select: none;
}



.box img {  display:block;  cursor: pointer; -moz-border:radius: 4px; border-radius: 4px; border: 1px solid rgba(150,150,150,0.3); position: absolute; bottom: 8px; height: 120px; }

.box span {  display:block; text-align:left; text-shadow: 1px 1px 1px rgba(61,92,157,0.5);  }

.open .controlbar { 
 -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
      -o-transform: translate(0px, 70px);
         transform: translate(0px, 70px);
 
    -moz-transition: -moz-transform 0.5s ease-in;    
      -o-transition: -o-transform 0.5s ease-in;  
 -webkit-transition: -webkit-transform 0.5s ease-in;  
         transition: transform 0.5s ease-in;
         
 -webkit-transition-delay: 50ms; -o-transition-delay: 50ms; -moz-transition-delay: 50ms; transition-delay: 50ms;        
}

#body.show.open,
body.toc #boxes {  -webkit-transform: translateZ(0); } /* hack for hardware acelleration */

.open .controlbar:hover { 
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px,  0px);
    transform: translate(0px, 0px);
   
    
         
}


footer {   width: 880px; margin: 0 auto; font-family: sans-serif;
           position:absolute; top: 736px; left: 50%; margin-left: -440px;}

.madeby { float: right; margin: 0;}
.madeby img {
  vertical-align: middle;
  width: 50px;
  height: 20px;
}
.note { color: #999; display:block; margin-top: 10px;}


.box p, .box ul { display: none;}





.tooltip {
    position: absolute;
    
    max-height: 0px;
    overflow: hidden;
    
    top: 34px; left: -68px;
    
    opacity: 0;
    
    background: #111;
    background: rgba(0,0,0,.8);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(40,40,40,.9)), to(rgba(0,0,0,.8)));   
    color: white;
    padding: 0 0 20px;
    width: 230px;
    cursor: auto;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid black;
    
    font: 14px Helvetica, sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    
    -webkit-text-stroke: 1px transparent;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.6);
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    
    -webkit-transition-property: -webkit-transform, opacity, max-height;
    -webkit-transition-duration: .5s;
    -webkit-transform-origin: center bottom;
    -webkit-transform: translateY(20px);
}

.tooltip p {
    width: 213px;
    text-align: left ;
    margin-left: 10px;
    padding-bottom: 12px;
}

.tooltip.popped {
    -webkit-transform: translateY(0px);
    opacity: 1; 
    max-height: 300px;
}

.tooltip.leaving {
    -webkit-transform: translateY(-20px);
    opacity: 0; 
}


.tooltip .top {
    height: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-top: 1px solid rgba(255,255,255,.25);
}

.tooltip h3 {
    margin: 0 10px 10px 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: left;
    text-shadow: none;
    -webkit-background-clip: none;
    background: transparent;
    -webkit-text-fill-color: white;
}

.tooltip .arrow {
  position: absolute;
  left: 90px;
  top : -14px;
  color: rgb(40,40,40);
  text-shadow: 0 -3px 2px rgba(155,155,155,.5);
}

.tooltip .close {
  position:absolute; 
  top: 10px;
  right: 10px;
  text-transform: lowercase;
  font-size: 11px;
  color: rgba(220, 220, 220, 0.9);
}
.tooltip .close:hover { color: #eee;}

.tooltip .support { 
  margin: 10px 10px 0;
  padding: 4px;
  font-family: monospace;
}

.tooltip .support.false {
  color: white;
  font-weight: bold;
  border: 1px dashed rgba(220, 220, 220, 0.5);
}




.controlbar::-webkit-scrollbar {
width: 10px;
height: 10px;
}

.controlbar::-webkit-scrollbar-button:start:decrement,
.controlbar::-webkit-scrollbar-button:end:increment  {
height: 30px;
display: block;
background-color: transparent;
}

.controlbar::-webkit-scrollbar-track-piece  {
background-color: #eee;
-webkit-border-radius: 6px;
}

.controlbar::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #bbb;
border: 1px solid #ddd;
-webkit-border-radius: 6px;
}

